

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  background-image: linear-gradient(rgb(147, 182, 147), #B4D435);
}

.page-title {
  margin-left: 3.7rem;
}

.first-container {
  background-color: transparent;
  width: 400px;
  height: 300px;
  perspective: 1000px;
}

.second-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0,0,0,0);
}

.spin {
  transform: rotateY(180deg);
}

.spin-back {
  transform: rotateY(0deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: white;
  overflow: scroll;
  transform: rotateY(180deg);
}

.pick-words {
  text-align: center;
}

.choose-favorite-message-list-view {
  width: 8rem;
  margin-bottom: 10px;
}

.favorite-list {
  font-weight: 100;
  font-size: 16px;
}

.user-choice-section, .flip-card-back {
  text-align: center;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1.1rem;
  width: 30vw;
  height: 70vh;
  box-shadow: -3px 2px 5px darkgreen;
  overflow: auto;
}

hr {
  width: 30vw;
}

.word-choice-radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
}

.submit-receive-message-btn {
  margin: 2rem 0;
  color: white;
  background-color: green;
  border: none;
  border-radius: .5rem;
  height: 2.5rem;
  width: 10rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  font-weight: lighter;
}

#favorite-button:hover {
  filter: saturate(10);
  cursor: pointer;
}

.clear-message-link, .favorite-messages {
  color: lightskyblue;
  text-decoration: underline;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: large;
}

.added-message {
  font-size: small;
  font-style: italic;
  animation: flashAnimation 5s forwards; 
} 

@keyframes flashAnimation {
  0% {
    opacity: 1; /* Fully visible */
  }
  50% {
    opacity: 0; /* Invisible */
  }
  100% {
    opacity: 0; /* Fully visible again */
  }
}


#user-message {
  margin-top: 3.8rem;
}

.change-color {
  background-color: red;
}

.add-gem-line {
  text-decoration: underline;
}

.user-gems {
  display: flex;
  gap: 1.7rem;
  flex-direction: column;
  align-items: center;
}

.user-input-message {
  height: 2.5rem;
  width: 18rem;
  border-radius: .5rem;
}

.grey {
  background-color: gray;
  color: red;
}

.hidden {
  display: none;
  /* visibility: hidden;
  overflow: hidden; */
}

@media screen and (max-width: 1092px) {
  .user-choice-section {
    width: 45rem;
    height: 55rem;
  }

  #form-title {
    font-size: 35px;
  }

  .radio-label {
    font-size: 30px;
  }

  .pick-words {
    margin: 2rem -10.5rem;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .user-choice-section {
    width: 45rem;
    height: 55rem;
  }

  #form-title {
      font-size: 35px;
  }

  .radio-label {
    font-size: 30px;
  }

  .pick-words {
    margin: 2rem -10.5rem;
  }
}

